:root {
    --verde:#95baa8;
    }

    @font-face {
        font-family: "Crosstenextrabold";
        src: url('/Fonts/Webfonts/crossten_extrabold_macroman/crossten_extrabold-webfont.woff');
        }
        @font-face {
        font-family: "Crosstenextralight";
        src: url(' /Fonts/Webfonts/crossten_extralight_macroman/crossten_extralight-webfont.woff');
        }

        
    html {
        box-sizing: border-box;
      }
      *, *:before, *:after {
        box-sizing: inherit;
        font-size: 16px;
      }

      #img-header img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav {
        margin: 0 auto;
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-weight: 300;
        max-width: 1800px;
        z-index: 1;
    }

    header a{
        text-decoration: none;
        font-size: 18px;
        font-weight: 200;
        display: flex;
        align-items: center;
    }
    .fa-bars {
        margin: 0 20px;
        font-size: 20px;
        cursor: pointer;
    }
    
    body {
        font-family:'Crosstenextralight', sans-serif;
         margin: 0 auto; 
         width: 100%;
         box-sizing: border-box;
    }
    
    .banner-header {
        background: var(--verde); 
        display: flex;
        align-items: center;
        height: 100vh;
    }

    .banner-header h2 {
        color: white;
        font-size: 70px;
        color: #d2e4da;
        padding: 0 40px;
        font-weight: bold;
    }
    .banner-main {
        display: flex;
        margin: 0 auto;
        max-width: 1200px;
    }
    .banner-header p {
        color: white;
        font-family:'Crosstenextralight', sans-serif;
        padding: 0 40px;
        font-size: 25px;
    }
    footer{
        width: 100%;
        height: 100vh;
        color: rgb(51, 51, 51);
        background-image: url(img/background-2.png);
        background-repeat: repeat-x;
        background-attachment: scroll;
        background-size: 1600px 600px;
        background-position: bottom;
        margin: 0 auto;
        text-align: center;
        font-weight: 300;
    }
    p a {
        text-decoration: none;
        font-weight: 500;
        color: black;
    }
    p a:hover {
        text-decoration-line: underline; 
    }
     ul {
        list-style: none;
        font-size: 20px;
        padding: 0;
        font-weight: 500;
    }
    ul li {
        text-decoration: none;
        padding: 5px 0;
    }
    .info-banner{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .info-banner h2{
        margin: 0;
    }
    .info-banner-content {
        border: 1px solid rgb(190, 190, 190);
        font-family:'Crosstenextralight', sans-serif;
        font-weight: 300; 
        display: flex;
        padding: 0 40px;
        width: 800px;
    
    }
    .boton-banner{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
    
    }
    .button{
        font-family:'Crosstenextralight', sans-serif;
        font-weight: 300;
        text-decoration: none;
        background:#4da7ec;
        color: white;
        width: 150px;
        padding: 8px 0;
        text-align: center;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: 1s;
        -o-transition:1s;
        -ms-transition:1s;
        -moz-transition:1s;
        -webkit-transition:1s;
    
    }
    .button:hover{
        background: #0089f1;
    }
    .banner-text{
        padding: 20px 0px;
    }
    .container-social {
        max-width: 1800px;
    }
    .info-options-text {
        background: var(--verde);
        width: 800px;
        margin: 0 auto;
        display: flex;
        color: white;
        border-radius: 30px;
        height: 200px;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .options-inbersus {
        padding: 20px 0;
        max-width: 1800px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        padding: 5  0px 0;
    }
    .option {
        width: 200px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .options-inbersus-container .options-inbersus .option img {
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
        opacity: .5;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    }
    .options-inbersus-container .options-inbersus .option img:hover {
        filter: none;
        opacity: 1;
        cursor: pointer;
    }
    .container-social {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 400px;
        max-width: 1000px;
        margin: 50px auto;
    
    }
    
    .blog, .experiencias {
        width: 45%;
        border: 1px solid rgb(190, 190, 190); 
        background: #f3f8f5;
        padding: 0 25px;
        height: 100%;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #cbcbcb;
    }
    .blog p,
    .experiencias p {
        font-weight: 300;
    }
    
    .experiencias h3,
    .blog h3 {
        text-align: center;
        color: rgb(48, 48, 48);
        font-size: 15px;
    }
    
    #footer-bottom p a {
        font-size: 13px;
        text-decoration: underline;
        color:rgb(53, 109, 82);
    }
    
    #footer-right a {
        text-decoration: underline;
        color:rgb(53, 109, 82);
        font-family: 'Poppins', sans-serif; 
    }
    /*             ---------------------   MODAL INICIO   --------------------     */
    
    .fa-times {
        cursor: pointer;
    }
    
    @media only screen and (max-width: 950px) {
        .banner-header img {
            width: 50vw;
            height: 37vw;
        }
        nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        nav a {
            width: 100%;
            justify-content: center;
            padding: 15px;
            text-align: center;
            color: rgb(53, 53, 53)!important;
            
    
        }
    
        .header-menu {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: white;
        }

        footer {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        #menu-burger {
            flex-direction: column;
            align-items: center;
            width:100%;
        }
        .info-banner-content {
            width: 70vw;
            flex-direction: column;
            align-items: center;
        }
        .info-options-text {
            width: 70vw;
            margin: 0 auto;
            display: flex;
            flex-direction: column-reverse;
            color: white;
            border-radius: 30px;
            height: 400px;
            align-items: center;
            justify-content: space-evenly;
        }
        .info-options-text h2 {
            width: 70%;
            font-size: 18px;
         }
         .info-options-text img {
             margin: 20px 0;
         }
         .button {
             margin: 15px;
         }
         nav {
            position: fixed;
            background: #eef9f9;
        }
        /* MODAL */
     }
     @media (max-width:950px) and (min-width:400px) {
        }
    
     @media only screen and (min-width: 951px) {
        span div:nth-child(1) {
            background:var(--verde);
            height: 74px;
            display: flex;
            align-items: center;
            padding: 0 10px;
        }
        header nav #menu-burger div a {
            color: rgb(51, 51, 51);
        }
        
        span div a {
            height: 74px;
            display: flex;
            align-items: center;
            padding: 0;
        }
        
        .fa-bars {
            display: none;
        }
        #menu-burger {
            display: flex!important;
            width: 100%;
            justify-content: space-around;
        }
        .info-banner  {
            margin: 100px 0;
        }
        .info-options-text {
            flex-direction: row-reverse;
        }
        .info-options-text p {
            font-size: 25px;
            font-weight: 200;
            width: 60%;
        }
    
        .footer-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 95%;
            margin: 0 auto;
        }
        
        #footer-left, #footer-right {
            text-align: left;
        }
        #footer-left {
            width: 46%;
        }
    
        #footer-left p {
            font-family: 'Poppins', sans-serif;
        }
        #footer-right a {
            text-decoration: none;
            color:rgb(53, 109, 82);
            font-size: 25px;
            font-weight: 500;
        }
        #footer-bottom {
            display: flex;
            justify-content: space-between;
            width: 95%;
            margin: 0 auto;
            border-bottom: 1px solid rgb(95, 95, 95);
            padding-bottom: 25px;
            padding-top: 25px;
        }
    
        #footer-bottom p:nth-child(1) {
            font-size: 13px;
        }
    
        footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .title-banner p {
            font-size: 25px;
            font-weight: 200;
        }
    }
    
     @media only screen and (max-width: 768px) {
        .banner-main {
            flex-direction: column;
            font-size: 10px;
        }
        .banner-header h2 {
            font-size: 8vw;
            margin-top: 100px;
        }
        .banner-header p {
            font-size: 5vw;
        }
        .banner-header img {
            width: 95vw;
            height: 70vw;
        }
        .info-banner {
            padding: 20vw 0;
        }
        .info-banner-content {
            padding: 0 0 0 10px;
            
        }
        .info-banner-content h2 {
            padding: 5px;
        }
        .option {
            flex-direction: column;
            margin: 0 auto;
        }
        .options-inbersus {
            flex-direction: column;
            padding: 0;
        }
        .container-social {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .blog, .experiencias {
            height: auto;
            width: 90%;
        }        
     }
     @media only screen and (min-width: 3000px) {
        .banner-header h2 {
            font-size: 100px;
        }

        .banner-main{
            max-width: 2000px;
        }
        .banner-header {
            height: 60vh;
        }

        .img-header img {
            width: 900px;
        }
        .banner-header p {
            font-size: 40px;
        }
        footer {
            height: 25vh;
            background-position-y:5px;
        }
        .footer-content {
            max-width: 1400px;
            margin: 0 auto;
        }
        #footer-bottom {
            max-width: 1400px;
        }
        .options-inbersus {
            height: 400px;
            display: flex;
            align-items: center;
        }
    }

    #modal {
        background: rgba(19, 19, 19, 0.74);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    
    #modal-container {
        width: 50%;
        display: flex;
        background: rgb(255, 255, 255);
        font-family: "Crosstenextralight";
        max-width: 800px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.521);
    }
    #modal-right {
        background: #5ca784;
    }
    #modal-left img {
        width: 80%;
        height:auto;
    }
    #cerrar-movil {
        display: none;
    }
    #modal-left {
        display: block;
        margin: auto;
        text-align: center;
    }
    #cerrar {
        float: right;
        font-size: 30px;
        margin-right: 10px;
        cursor: pointer;
        color: white;
    }
    #modal-right h2 {
        margin: 80px 20px 0 20px;
        text-align: right;
        color: #9bf1c9;
        font-family: "Crosstenextralight";
        font-size: 28px;
    }
    #modal-right p {
        text-align: right;
        margin: 20px;
        color: #ccf5e2;
        font-size: 18px;
    }
    #form-body form {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
    }
    #form-body input {
        margin: 20px 0;
    }
    #form-body {
        margin-bottom: 80px;
    }
    input:nth-child(1){
            border: 1px solid #dbdbdb;
            border-radius: 4px;
            background: #ffffff;
            font-size: 15px;
            padding: 6px 0;
            text-align: center;
            height: 40px;
            border: 1px solid rgb(255, 255, 255);
        }
        
        input:nth-child(2){
            border: none;
            padding: 5px;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            background: rgb(64, 104, 84);
            height: 40px;
            width: 80%;
            margin: 0 auto!important;
            font-family:'Crosstenextrabold', sans-serif;
        }
        @media only screen and (max-width: 950px) {
            #modal .img-mobile {
                display: block;
                width: 140px;
                position: absolute;
                bottom: 0px;
                z-index: 1;
            }
            #modal-left {
                display: none;
            }
            #modal-container h2 {
                text-align: center;
                margin:0;
                margin-top: 30px;
            }
            #modal-container p {
                text-align: center;
            }
            #modal-right {
                width: 100%;
            }
            #modal-container{
                width: 90%;
            }
            #form-body {
                margin-bottom: 50px;
            }
        }
        
    